Babel==2.12.1
black==23.7.0
click==8.1.7
colorama==0.4.6
flake8==6.1.0
flake8-broken-line==1.0.0
flake8-commas==2.1.0
isort==5.12.0
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.2
pep8-naming==0.13.3
platformdirs==3.10.0
pycodestyle==2.11.0
pyflakes==3.1.0
tkcalendar==1.6.1
tomli==2.0.1
typing_extensions==4.7.1
